@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  scroll-behavior: smooth;
  text-transform: uppercase;
}

body {
  /* overflow-x: hidden; */
}

section {
  background-color: #f15c2224;
  transition: all 300ms ease;
  overflow-x: hidden
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  color: #891c1a;
  line-height: 1.1;
}

h1 {
  margin-top: 0px;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  margin-top: 16px;
  font-size: 15.5px;
  font-weight: 300;
}

h3 {
  font-size: 17.6px;
  font-weight: 300;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.15);
}

.click:active {
  transform: scale(0.8);
}

.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.dark-theme section,
.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .header__para {
  background-color: #f15c2224;
}

.dark-theme .header,
.dark-theme .modal {
  background-color: #4d2525;
}

.dark-theme .vinyl__img--wrapper {
  filter: drop-shadow(0 0px 10px rgba(252, 149, 149, 0.534));
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme .nav__link--anchor,
.dark-theme .streaming__link--img,
.dark-theme .modal__exit,
.dark-theme .about__para,
.dark-theme .credits__para {
  color: #f7cebe;
  transition: all 300ms ease;
}

.dark-theme .modal__credits {
  border: 2px solid #f7cebe;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.dark-theme .streaming__link--img:hover {
  color: #de2525;
}

.dark-theme .label__logo {
  filter: brightness(1.5);
}

.dark-theme section {
  background-color: #891c1a;
}

.dark-theme .footer__logo--popper {
  color: #891c1a;
}

.dark-theme footer {
  background-color: #f7cebe;
}

.dark-theme .social__link,
.dark-theme .copyright__design,
.dark-theme .copyright__label {
  color: #891c1a;
}

.dark-theme footer .label__logo {
  filter: brightness(1);
}

/* 

LANDING PAGE 

*/

#landing-page {
  min-height: 100vh;
  
}

/* 

NAVIGATION 

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.label__logo {
  width: 264px;
  transition: all 300ms ease;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
  transition: all 300ms ease;
}

.nav__link--anchor:hover {
  color: #f15c22;
}

.nav__link--anchor {
  font-size: 16px;
  font-weight: 600;
  transition: all 300ms ease;
  color: #891c1a;
}

.fa-compact-disc {
  font-size: 32px;
  margin-left: 12px;
  animation: neon-flicker 3.5s infinite ease;
}

.fa-compact-disc:hover {
  animation: spinner 750ms infinite linear;
  
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes neon-flicker {
  0%, 100% {
    opacity: 0.6;
    text-shadow: 0 0 5px rgb(255, 115, 0), 0 0 10px rgb(255, 0, 64), 0 0 20px rgb(231, 217, 13);
  }
  20%, 24%, 55% {
    opacity: 0.8;
    text-shadow: none;
  }
}

/* 

HEADER

*/

.header {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
  background-color: #b36a6a2d;
  /* background: linear-gradient(rgb(179 106 106) 0%, rgba(197, 145, 135, 0.548) 100%); */
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  transition: all 800ms ease;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0 16px 0;
}

.vinyl__img--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  position: relative;
}

.vinyl__img {
  width: 80%;
  filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.5));
}

.streaming__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 32px 0;
  padding: 0 16px;
  animation: animate-streaming__link 800ms 300ms backwards;
}

.streaming__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.streaming__link:hover {
  transform: translateY(-4px);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));
}

.img1 {
  animation: animate-img1 300ms 200ms backwards;
}

@keyframes animate-img1 {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.img2 {
  animation: animate-img2 500ms 200ms backwards;
}

@keyframes animate-img2 {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.img3 {
  animation: animate-img3 700ms 300ms backwards;
}

@keyframes animate-img3 {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.img4 {
  animation: animate-img4 900ms 400ms backwards;
}

@keyframes animate-img4 {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.img5 {
  animation: animate-img5 1100ms 500ms backwards;
}

@keyframes animate-img5 {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.streaming__link--img {
  font-size: 32px;
  color: #891c1ae0;
  transition: all 300ms ease;
}

.streaming__link--img:hover {
  color: #891c1a;
}

/* 

ABOUT

*/

.modal {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 741px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 400ms, box-shadow 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  transform: translateX(110%);
  transition: all 500ms ease;
  height: 100%;
}

.modal--open .modal__container {
  transform: translate(0%);
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 36px;
  color: #891c1a;
  z-index: 100;
}

.modal__about,
.modal__credits {
  width: 45%;
  height: 100%;
  padding: 18px 16px;
}

.about__title {
  text-transform: none;
  font-size: 32px;
  font-weight: 350;
  margin-bottom: 16px;
}

.about__para,
.credits__para {
  text-transform: none;
  color: #891c1a;
  font-size: 14px;
}

.bold {
  font-size: 16px;
  font-weight: 600;
}

.modal__credits {
  width: 45%;
  padding-left: 16px;
  border: 2px solid #4d2525;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

/* 

CONTACT

*/

#contact {
  padding-bottom: 32px;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}

#contact .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__form--container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: groove 2px #f7cebe83;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  padding: 48px 0;
  background: linear-gradient(
    145deg,
    rgb(145, 55, 55) 0%,
    rgba(170, 102, 87, 0.904) 100%
  );
  transition: all 300ms;
}

.contact__title {
  font-size: 26px;
  color: #f7cebe;
  margin-bottom: 12px;
}

#contact__form {
  width: 60%;
}

.form__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  height: 40px;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  text-transform: none;
  color: #f7cebe;
  font-size: 18px;
  font-weight: 300;
}

textarea {
  resize: vertical;
  height: 1000px;
  margin-top: 12px;
  line-height: 1.4;
}

.form__submit {
  margin-top: 12px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f7cebe;
  font-size: 16px;
  transition: all 400ms ease;
}

.form__submit:hover {
  background-color: #891c1a;
  color: #f7cebe;
}

label {
  color: #f7cebe;
}

/* 

FOOTER

*/

footer {
  background-color: #891c1a;
  padding: 1% 0;
  display: flex;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label__logo--wrapper {
  position: relative;
  display: flex;
}

.footer__logo--popper {
  position: absolute;
  right: 110px;
  top: 20px;
  font-size: 14px;
  color: #f7cebe;
  opacity: 0;
  transition: all 300ms ease;
}

.fa-arrow-up {
  font-size: 18px;
}

.label__logo--wrapper:hover .footer__logo--popper {
  transform: translateY(-40px);
  opacity: 1;
}

.footer__social--links {
  width: 100%;
  max-width: 500px;
  margin: 28px 0;
  display: flex;
  justify-content: space-between;
}

.social__link {
  font-size: 30px;
  padding: 6px;
  color: #f7cebe;
}

.copyright__label,
.copyright__design {
  color: #f7cebe;
}

.copyright__design {
  margin-top: 8px;
}

footer .label__logo {
  filter: brightness(1.5);
}
